<html>
<head>
    <title>{{ config.title }}</title>
</head>
<body>
<hr>
App Name : <span id="app_name">{{ app.name }}</span>
<hr>
Query String : <span id="url_param">{{ query_parameters.param1 }}</span>
<hr>
Add Globals : <span id="add_global">{{ add_global }}</span>
</body>
</html>